.chat-button {
    min-width: 268px;
    background: #2b2b2b;
    border-radius: 5px 25px 0 0;
    min-height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px 0 10px 80px;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.chat-button__text{
    font-size: 20px;
    color: #fff;
}
.chat-room {
    min-width: 348px;
    position: fixed;
    right: 0;
    top: 465px;
    display: none;
}
.time {
    position: absolute;
    right: -10px;
    top: 25px;
    font-size: 14px;
    color: #555555;
}
.chat-close {
    background: url('close.svg') center no-repeat;
    position: absolute;
    top: 0;
    left: -35px;
    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
}
.chat-header {
    background: #2b2b2b;
    border-radius: 5px 25px 0 0;
    min-height: 81px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.chat__img {
    float: left;
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
    filter: grayscale(1);
}
.chat__author {
    padding-top: 20px;
    font-size: 16px;
    color: #fff;
    padding-left: 10px;
    line-height: 1.5;
}
.chat__profession {
    font-size: 14px;
    color: #555555;
    padding-left: 10px;
}
  
.chat-content {
    background: #fff;
    overflow: auto;
    height: 293px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column-reverse;

}
.chat__text {
    max-width: 242px;
    min-height: 40px;
    border-radius: 5px;
    background: #3cb868;
    color: #fff;
    padding: 10px;
    margin: 10px 0 10px 20px;
    position: relative;
}
.chat__text::before {
    content: "◀";
    color: #3cb868;
    position: absolute;
    left: -11px;
    top: 25px;
    font-size: 11px;
}
.time {
    position: absolute;
    right: -40px;
    top: 25px;
    font-size: 14px;
    color: #555555;
}
.chat-footer {
    background: #eef1f5;
    min-height: 81px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    position: relative;
}
#input {
    min-width: 298px;
    height: 40px!important;
    border: 1px solid #3cb868;
    border-radius: 5px;
    padding: 5px 0 5px 5px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.clip {
    background: url('clip.png') center no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 25px;
    background-size: contain;
    cursor: pointer;
}
